<nav class="light-blue lighten-1">
    <div class="container">
      <div class="nav-wrapper"><a id="logo-container" href="#" class="brand-logo">ALERT ME</a>
        <ul id="nav-mobile" class="right side-nav">
			<li class=''><a ng-href="#/vacchart">Vaccination Chart</a></li>
			<li class=''><a ng-href="#/login">Login</a></li>
			<!--li><a  ng-href="#/child">Child Vac Details</a></li>
			<li><a  ng-href="#/pre-details">Pregnancy Details</a></li>
			<li><a  ng-href="#/health-details">Appointment Details</a></li>
			<li><a  ng-href="#/child-vac-details">Show Vac Details</a></li>
			<li class='hide'><a ng-href="#/doctor">Profile</a></li-->
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
      </div>
    </div>
  </nav>